body{
    padding: 0px;
    margin: 0px;
    background-image: url(./img/back.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}
.red{
    color: red;
}
h1{
    color: wheat;
    font-family: sans-serif;
}
.box{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.int{
    width: 300px;
    height: 300px;
}
.cont-imagem{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagens{
    width: 100px;
    height: 100px;
    transition: 0.15s;
}
.imagens:hover{
    width: 150px;
    height: 150px;
    transition: 0.15s;
}